$icomoon-font-path: "../fonts" !default;

$icon-gIcon01: "\e900";
$icon-gIcon02: "\e901";
$icon-gIcon03: "\e902";
$icon-gIcon04: "\e903";
$icon-GS1: "\e904";
$icon-GS2: "\e905";
$icon-play: "\e912";
$icon-phone: "\e942";
$icon-envelop: "\e945";
$icon-location2: "\e948";
$icon-download: "\e960";
$icon-user-plus: "\e973";
$icon-embed2: "\ea80";
$icon-facebook: "\ea90";
$icon-instagram: "\ea92";
$icon-whatsapp: "\ea93";
$icon-twitter: "\ea96";
$icon-youtube2: "\ea9e";
$icon-github: "\eab0";
$icon-wordpress: "\eab4";
$icon-appleinc: "\eabe";
$icon-skype: "\eac5";
$icon-linkedin: "\eac9";
$icon-html-five: "\eae4";
$icon-css3: "\eae6";
$icon-git: "\eae7";