@import "_utils.scss";

body{

	background-color: #27292e !important;
	color: $fntColor;
	font-size: 20px;
	font-family: $PrimaryFont;

	a{
		text-decoration: none;
		color: $fntColor;
		&:hover{
			color: $detailsColor;
		}
	}


	h1{
		font-size: 44px;

	}

	h2{
		font-size: 35px;
	}

	.row{
		clear: both;
		display: block;
	}

	
	#Box1{
    background-color: gray;
    border: 1px solid;
	}

	.box-2{
    background-color: blue;
    border: 1px solid;

	}
	
	.togAct{
		background-color:#996633;
		font-size: 50px;
	}
}

.demo {
	background-color: red;
	border: 1px solid;
	font-size: 30px;
}

/* --------------------------
Sticky Header and Global Menu
----------------------------*/

 header{
 			
            height: 108px;
            font-size: 90px;
            // set animation
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }
        
        header.sticky {
            position: fixed;
            height: 70px; 
            width: 100%;
            background: white;
            text-align: left;
            font-size: 70px;
        }


a.icon-GS2{
    float: left;
    margin-left: 1%;
    display: inline-block;
}


// Menu
	#logoHome:hover{

		color: $detailsColor;
	}

	.menuWraper{

		padding-top: 3%;
	}
	
	nav li{

		display: inline-block;
		float: right;
		margin: 0 10px;
		font-size: 20px;
	}
/*
------- End of Sticky Header----------
*/